html, body, header, nav, h1, h3, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="search"],
textarea,
button {
  -webkit-appearance: none;
}

textarea{
  resize: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
