.drink-dropdown{
  display: none;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 161px;
  position: absolute;
  top: 82px;
}

.drink-dropdown li{
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.focus{
  display: block;
  position: absolute;
}

#checkin{
  position: relative;
}
