.drink-img{
  height: 100%;
  width: auto;
  float: left;
  margin-right: 10px;
}

.drink-profile{
  max-width: 750px;
  width: 100%;
  height: 300px;
  margin: 20px auto;
  border: 1px solid #ddd;
  position: relative;
  padding: 5px;
  background-color: #fff;
}

h3{
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

.drink-profile p{
  padding: 5px;
  margin: 5px;
}
