h3{
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

#add-image{
  background-color: #FEB80A;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height: 20px;
}

#add-image:hover{
  background-color: #ff9933;
}

.drink-img{
  background-image: url(http://res.cloudinary.com/distillr/image/upload/c_scale,w_2320/c_crop,h_400,w_2320,x_400,y_700/v1467828422/shutterstock_whiskey_jjtlat.jpg);
  background-repeat: no-repeat;
}
