.friend-box{
  border: 1px solid black;
  background-color: #fff;
  padding: 5px;
}

.main-flex{
  display: flex;
  max-width: 1048px;
  width: 100%;
  margin: 0 auto;
}

.friend-flex{
  flex: 1;
}

.checkin-flex{
  flex: 2;
  margin-right: 10px;
}

.friend-index-flex{
  flex: 2;
  margin-right: 10px;
}

.button-flex{
  display: flex;
  justify-content: space-between;
}

.name-large{
  font-size: 24px;
  font-weight: 700;
}

.fa-square{
  color: #ff9494;
}

.red-hover:hover .fa-square{
  color: #A83E3E;
}

.green{
  color: #a4d273;
}

.green-hover:hover .green{
  color: #69AB22;
}

.fa-check{
  color: #fff;
}

.fa-times{
  color: #fff;
}
