.profile{
  background-image: url(https://res.cloudinary.com/distillr/image/upload/c_scale,w_1048/v1467761904/profile_vpwvxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 20%;
  max-width: 1044px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.profile h1{
  position: absolute;
  top: 200px;
  left: 20px;
}

.friend-button{
  border: 1px solid black;
  background-color: #eee;
  color: #000;
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  position: absolute;
  top: 225px;
  right: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  line-height: 15px;
}

.friend-button:hover{
  background-color: #ccc;
}

#pending{
  background-color: #666;
  cursor: default;
  opacity: 0.7;
}

.page-flex{
  max-width: 1048px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.feed-flex{
  flex: 2;
  margin-right: 5px;
}

.user-flex{
  flex: 1;
}

.user-box{
  height: 237px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.user-flex .user-box{
  margin-right: 5px;
}

.stat{
  flex: 1 0 auto;
  width: 149px;
  height: 118px;
  margin: auto;
  background-color: #f8f8f8;
}

.stat:hover{
  background-color: #eee;
}

.stat:nth-child(even){
  border-left: 1px solid #ccc;
}

.stat:nth-child(-n + 2){
  border-bottom: 1px solid #ccc;
}

.stat-num{
  font-size: 32px;
  font-weight: 700;
  margin: 23px 0 3px 0;
  text-align: center;
  display: block;
}

.stat-text{
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  display: block;
}
