.map{
  width: 334px;
  height: 400px;
  margin: 0 auto;
}

.nearby-map{
  width: 740px;
  height: 450px;
  margin: 0 auto;
}

.nearby-box{
  width: 740px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#nearby-desc{
  text-align: right;
  padding-right: 0;
}

.venue-flex{
  display: flex;
  max-width: 1048px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}

.venue-flex h3{
  color: #fff;
}

.venue-info{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  position: relative;
}

.venue-sidebar{
  flex: 1;
  margin: 50px 10px 0 0;
}

.venue-feed{
  flex: 2;
}

.venue-info h3{
  position: absolute;
  top: -40px;
}

.venue-info:first-child{
  margin-bottom: 30px;
}

.venue-info p{
  padding: 8px;
}

.venue-img {
  background-image: url(https://res.cloudinary.com/distillr/image/upload/c_crop,h_400,w_2048,y_525/v1467827275/image_bcqlhq.jpg);
  background-repeat: no-repeat;
}

.venue-name{
  font-weight: 700;
  font-size: 32px;
}

#address{
  width: 366px;
}
